@use "variables" as v;

/*------ INDEX ------*/
.containerProximosPartidos1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: v.$color-secundario-opacity;
    padding: v.$px-general*2 0px;
    margin-bottom: v.$px-general*3;
}

.containerFecha1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: v.$font-size-base - .3rem;
        margin: 0px;
    }
}

.containerLogoLaLiga1 {
    padding: 10px 0px;
    box-sizing: border-box;
}

.logoLaLiga {
    width: 110px;
    height: 30px;
}

.containerJornada1 {
    p {
        font-size: v.$font-size-base - .3rem;
        margin: 0px;
    }
}

.containerPartido1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoEquipos {
    width: 50px;
    height: 50px;
}

.containerNombreEquipo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spanContainerPartido {
    margin: 0px;
    font-size: v.$font-size-base;
}

.vs {
    margin: 0px v.$px-general * 3;
}

@media (min-width: v.$desktop) {

    .containerProximosPartidos1 {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .containerVersus {
        display: flex;
        flex-direction: column;
    }
}