@use "variables" as v;
@use "mixin" as m;

/*------ PALMARES ------*/
.containerPalmares {
    @include m.column-center;

    p {
        text-align: justify;
        text-indent: v.$px-general * 5;
        font-size: v.$font-size-base;
        margin-bottom: v.$px-general * 3;
    }
}

.texto {
    text-align: justify;
    text-indent: v.$px-general * 2;
}

.letraRoja {
    color: v.$color-secundario;
    font-size: v.$font-size-base + 1rem;
}