@use "variables" as v;

/*------ TITULO Y SUBTITULO ------*/
.titulo {
    font-size: v.$font-size-base;
    color: v.$color-secundario;
    margin: 0px 0px 15px 20px;
}

.containerSubTitulo {
    margin: 0px 0px 15px 30px;
}

.subTitulo {
    @extend .containerSubTitulo;
    color: v.$color-primario;
    font-size: v.$font-size-base;
}